@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --background-secondary: #f8fafc;

  --surface: #f0eee9;
  --surface-hover: #e8e6e1;

  --foreground: #0f172a;
  --foreground-secondary: #475569;
  --foreground-muted: #94a3b8;

  --primary: #034aa6;
  --primary-accent: #0fb3f3;
  --primary-soft: #7ad0f3;

  --highlight: #fff700;

  --border: #e2e8f0;
  --border-hover: #7ad0f3;

  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;
}


.dark {
  --background: #020817;
  --background-secondary: #0f172a;

  --surface: #111827;
  --surface-hover: #1e293b;

  --foreground: #f8fafc;
  --foreground-secondary: #cbd5e1;
  --foreground-muted: #94a3b8;

  --primary: #0fb3f3;
  --primary-accent: #7ad0f3;
  --primary-soft: #034aa6;

  --highlight: #fff700;

  --border: #334155;
  --border-hover: #0fb3f3;

  --success: #4ade80;
  --warning: #fbbf24;
  --danger: #f87171;
}


@theme inline {

  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);

  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);

  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-muted: var(--foreground-muted);

  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
  --color-primary-soft: var(--primary-soft);

  --color-highlight: var(--highlight);

  --color-border: var(--border);
  --color-border-hover: var(--border-hover);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
}


body {
  background: var(--background);
  color: var(--foreground);
}

.dashboard-sider-menu.ant-menu-inline .ant-menu-item-group-title {
  padding-inline: 12px !important;
  padding-block: 12px 6px !important;
  margin-top: 8px;
}

.dashboard-sider-menu.ant-menu-inline .ant-menu-item {
  height: 42px;
  line-height: 42px;
  width: calc(100% - 8px);
  margin-inline: 4px;
}

.dashboard-sider-menu.ant-menu-inline .ant-menu-item-selected {
  font-weight: 600;
}